<!-- products.ejs -->

<!DOCTYPE html>
<html>
  <head>
    <title>Product List</title>
    <link rel="stylesheet" href="/styles.css">
  </head>
  <body>
    <div class="container">
      <h1>Product List</h1>
      <a href="/create" class="create-product-button">Create Product</a>
      <% if (products.length === 0) { %>
      <p>No products available</p>
      <% } else { %>
      <table>
        <thead>
          <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Quantity</th>
            <th>Delete Products</th>
            <th>Update Quantity</th>
          </tr>
        </thead>
        <tbody>
          <% products.forEach(function(product) { %>
          <tr>
            <td><%= product._id %></td>
            <td><%= product.name %></td>
            <td><%= product.quantity %></td>
            <td>
              <form action="/<%= product._id %>/delete" method="POST">
                <button type="submit" class="delete-button">Delete</button>
              </form>
            </td>
            <td>

              <a href="/<%= product._id %>/update_quantity"
                class="update-quantity-button">Update Quantity</a>
            </td>
          </tr>
          <% }); %>
        </tbody>
      </table>
      <% } %>
    </div>
  </body>
</html>
